@import "global-variables.scss";


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



#page-one {
    height: 100vh;
    width: 100%;
    
}

#nav {
    margin: 0 auto;
    display: flex;
    height: 100px;
    width: 30%;
    justify-content: space-between;
    align-items: center;

}

#nav li {
    font-weight: 600;
    display: inline;
    margin: 0 25px;
}

#image-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-image {
    width: 185px;
    height: 298px;
    
    

}

#page-one h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 4.5rem;
}

#link-icons {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}